html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80px;
}

.top-bar > div {
    display: flex;
    flex-direction: column;
}

.environments {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.environments li {
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

#data {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    height: inherit;
}

.site-list-container {
    flex-basis: 300px;
    flex-grow: 1;
    min-width: 300px;
    overflow-y: auto;
}

.site-list {
    list-style: none;
    padding-left: 0;
}

.site-list-item.active {
    background-color: #dfdfdf;
}

.site-content {
    display: none;
}

.site-content.active {
    display: block;
}

.site-list-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-list-item span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.environment.active {
    background-color: #dfdfdf;
}

#diffs {
    flex-basis: 450px;
    flex-grow: 1000;
    height: inherit;
    margin-bottom: 10px;
    overflow-y: auto;
}

@media only screen and (max-width: 780px) {
    body {
        overflow-y: auto;
    }

    #diffs {
        overflow-y: hidden;
    }
}
