:root {
    --header-bg-color: #25292e;
    --header-text-color: #fff;
    --primary-bg-color: #fff;
    --primary-text-color: #1f2328;
    --primary-text-active-color: #0969da;
    --secondary-bg-color: #f6f8fa;
    --secondary-hover-bg-color: #818b981a;
    --secondary-text-color: #59636e;
    --folder-icon-color: #54aeff;
    --file-icon-color: #59636e;
    --divider-color: #d1d9e0;
    --active-color: #fd8c73;
    --fonts: -apple-system, blinkmacsystemfont, "Segoe UI", "Noto Sans", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.h1, h2, h3, h4, h5, h6, p, div, span, li, a {
    color: var(--primary-text-color);
    font-family: var(--fonts);
}

#data {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    background-color: var(--primary-bg-color);

    @media only screen and (width <= 780px) {
        flex-wrap: wrap;

        .site-list-container {
            width: 100%;
        }
    }
}

.site-list-container {
    width: 320px;
    border-right: 1px solid var(--divider-color);
    border-top: 1px solid var(--divider-color);
    padding: 8px;
}

.data-diff-container {
    border-top: 1px solid var(--divider-color);
    padding: 8px;
    overflow: hidden;
}

.icon  {
    color: var(--icon-color);
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentcolor;
}